Safeat_NodeRedCode.json
[{"id":"d9cbdc2b.e651a","type":"tab","label":"POS","disabled":false,"info":""},{"id":"d86026de.3b8d78","type":"ui_dropdown","z":"d9cbdc2b.e651a","name":"tbl_1 eta","label":"","tooltip":"","place":"Estimated Time","group":"6aea06d1.781518","order":2,"width":"0","height":"0","passthru":true,"multiple":false,"options":[{"label":"5 minutes","value":5,"type":"num"},{"label":"10 minutes","value":10,"type":"num"},{"label":"15 minutes","value":15,"type":"num"},{"label":"20 minutes","value":20,"type":"num"}],"payload":"","topic":"topic","x":440,"y":1660,"wires":[["a3c4445d.8a86a8","a8548354.569e"]]},{"id":"e5872d2b.81d9f","type":"ui_button","z":"d9cbdc2b.e651a","name":"tbl_1 order complete","group":"6aea06d1.781518","order":4,"width":"3","height":"1","passthru":false,"label":"COMPLETE","tooltip":"","color":"","bgcolor":"red","icon":"done","payload":"1","payloadType":"num","topic":"","x":400,"y":1600,"wires":[["9afdf38e.9cfa2","a3c4445d.8a86a8"]]},{"id":"26309fa1.31802","type":"ui_list","z":"d9cbdc2b.e651a","group":"2f86e9fb.b48a36","name":"","order":1,"width":"5","height":"5","lineType":"three","actionType":"none","allowHTML":true,"outputs":0,"topic":"","x":1450,"y":440,"wires":[]},{"id":"9e6617be.0fc718","type":"ui_button","z":"d9cbdc2b.e651a","name":"tbl_2 order complete","group":"2f86e9fb.b48a36","order":3,"width":"3","height":"1","passthru":false,"label":"COMPLETE","tooltip":"","color":"","bgcolor":"red","icon":"done","payload":"1","payloadType":"num","topic":"","x":400,"y":1760,"wires":[["9afdf38e.9cfa2","dcf95058.f26c8"]]},{"id":"94021c59.158e7","type":"ui_button","z":"d9cbdc2b.e651a","name":"tbl_2 order clear","group":"2f86e9fb.b48a36","order":4,"width":"2","height":"1","passthru":false,"label":"CLEAR","tooltip":"","color":"","bgcolor":"orange","icon":"clear","payload":"{}","payloadType":"json","topic":"","x":1220,"y":400,"wires":[["26309fa1.31802"]]},{"id":"9e4caf28.b2f7","type":"ui_dropdown","z":"d9cbdc2b.e651a","name":"tbl_2 eta","label":"","tooltip":"","place":"Estimated Time","group":"2f86e9fb.b48a36","order":2,"width":"0","height":"0","passthru":true,"multiple":false,"options":[{"label":"5 minutes","value":5,"type":"num"},{"label":"10 minutes","value":10,"type":"num"},{"label":"15 minutes","value":15,"type":"num"},{"label":"20 minutes","value":20,"type":"num"}],"payload":"","topic":"topic","x":440,"y":1820,"wires":[["dcf95058.f26c8","f32960b.e90e5a"]]},{"id":"251e8569.9ccb5a","type":"ui_button","z":"d9cbdc2b.e651a","name":"daily sale","group":"8bb058be.bd2238","order":3,"width":"0","height":"0","passthru":false,"label":"SEND","tooltip":"","color":"","bgcolor":"blue","icon":"done","payload":"","payloadType":"str","topic":"","x":240,"y":1180,"wires":[["fc3b5224.5008a"]]},{"id":"ab925d03.d1249","type":"function","z":"d9cbdc2b.e651a","name":"structuring email","func":"msg = {\n    //payload:\"sending the daily sale\" + Date().toString(),\n    payload : msg.payload,\n    topic:\"POS Daily Sales\",\n}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":860,"y":1180,"wires":[["fbb7baea.7a9418","6bef8c52.e00c14","142b2751.2c1d59"]]},{"id":"fbb7baea.7a9418","type":"e-mail","z":"d9cbdc2b.e651a","server":"smtp.gmail.com","port":"465","secure":true,"tls":false,"name":"manjitha456@gmail.com","dname":"send email","x":1150,"y":1040,"wires":[]},{"id":"ae823e95.b6a87","type":"function","z":"d9cbdc2b.e651a","name":"","func":"//global.set(\"total_amount\", msg.amount);\n//global.get(\"longitude\")\n\nlet amount = global.get(\"daily_amount\") || 0;\nglobal.set(\"daily_amount\", (amount+parseInt(msg.payload.amount)));\n\nlet count = global.get(\"order_count\") || 0;\nglobal.set(\"order_count\", (count+1));\n\nreturn{\n    payload:{\"oder\":global.get(\"order_count\"),\"amount\":msg.payload.amount}\n    //payload:global.get(\"daily_amount\")\n    //topic:\"New order on table \"+msg.payload.table +\" is placed. \"\n}","outputs":1,"noerr":0,"initialize":"","finalize":"","x":720,"y":780,"wires":[["731ff3c7.9350fc"]]},{"id":"9afdf38e.9cfa2","type":"mqtt out","z":"d9cbdc2b.e651a","name":"","topic":"POS/EN2560/order","qos":"","retain":"","broker":"f7447d9d.e57e","x":910,"y":1520,"wires":[]},{"id":"f1a21729.0dc4f8","type":"ui_toast","z":"d9cbdc2b.e651a","position":"dialog","displayTime":"3","highlight":"","sendall":true,"outputs":1,"ok":"OK","cancel":"","raw":false,"topic":"ORDER","name":"","x":1470,"y":680,"wires":[[]]},{"id":"eb9a5101.9f661","type":"function","z":"d9cbdc2b.e651a","name":"","func":"msg = {\n    payload : \"New order on table_\"+ msg.payload.table\n}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":960,"y":680,"wires":[["f1a21729.0dc4f8"]]},{"id":"59b04390.a13c1c","type":"inject","z":"d9cbdc2b.e651a","name":"orders","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":true,"onceDelay":0.1,"topic":"","payload":"[{\"title\":\"<b>TABLE_1</b>\",\"description\":\"\",\"icon\":\"https://image.shutterstock.com/image-vector/send-vector-minimal-single-flat-260nw-1015526557.jpg\"},{\"title\":\"<b>TABLE_2</b>\",\"description\":\"\",\"icon\":\"https://image.shutterstock.com/image-vector/send-vector-minimal-single-flat-260nw-1015526557.jpg\"},{\"title\":\"<b>TABLE_3</b>\",\"description\":\"\",\"icon\":\"https://image.shutterstock.com/image-vector/send-vector-minimal-single-flat-260nw-1015526557.jpg\"}]","payloadType":"json","x":450,"y":2240,"wires":[["be0a310c.9dc02"]]},{"id":"be0a310c.9dc02","type":"ui_list","z":"d9cbdc2b.e651a","group":"1854319a.c798ee","name":"oders list","order":1,"width":"10","height":"6","lineType":"three","actionType":"click","allowHTML":true,"outputs":1,"topic":"","x":680,"y":2240,"wires":[["10ac2297.9e408d"]]},{"id":"e5f14804.b0a198","type":"ui_ui_control","z":"d9cbdc2b.e651a","name":"got to bill tab","x":970,"y":2660,"wires":[[]]},{"id":"10ac2297.9e408d","type":"function","z":"d9cbdc2b.e651a","name":"selecct the bill tab","func":"let table_no = msg.payload.title;\nmsg = {\n    payload:{\"tab\" : \"BILL\"},\n    table: table_no[9]      //takes the fifth index\n}\nreturn msg;\n","outputs":1,"noerr":0,"initialize":"","finalize":"","x":690,"y":2320,"wires":[["2969c0da.891f5"]]},{"id":"44972564.4fd38c","type":"ui_table","z":"d9cbdc2b.e651a","group":"284939c0.aa7686","name":"invoice table","order":2,"width":"15","height":"6","columns":[{"field":"","title":"Item","width":"","align":"center","formatter":"rownum","formatterParams":{"target":"_blank"}},{"field":"name","title":"Name","width":"","align":"left","formatter":"plaintext","formatterParams":{"target":"_blank"}},{"field":"unit_price","title":"Unit Price","width":"","align":"left","formatter":"plaintext","formatterParams":{"target":"_blank"}},{"field":"quantity","title":"Quantity","width":"","align":"center","formatter":"plaintext","formatterParams":{"target":"_blank"}},{"field":"item_price","title":"Item Price","width":"","align":"left","formatter":"plaintext","formatterParams":{"target":"_blank"}}],"outputs":0,"cts":false,"x":970,"y":2600,"wires":[]},{"id":"4f2db436.de05dc","type":"inject","z":"d9cbdc2b.e651a","name":"orders","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"[{\"title\":\"<b>TABLE_1</b>\",\"description\":\"Order1\",\"icon\":\"https://image.shutterstock.com/image-vector/send-vector-minimal-single-flat-260nw-1015526557.jpg\"},{\"title\":\"<b>TABLE_2</b>\",\"description\":\"Order2\",\"icon\":\"https://image.shutterstock.com/image-vector/send-vector-minimal-single-flat-260nw-1015526557.jpg\"},{\"title\":\"<b>TABLE_3</b>\",\"description\":\"Order3\",\"icon\":\"https://image.shutterstock.com/image-vector/send-vector-minimal-single-flat-260nw-1015526557.jpg\"}]","payloadType":"json","x":1330,"y":2500,"wires":[["8f2b40c4.f2c74"]]},{"id":"281ea848.205b08","type":"ui_text_input","z":"d9cbdc2b.e651a","name":"cash","label":"CASH ","tooltip":"","group":"284939c0.aa7686","order":4,"width":"0","height":"0","passthru":false,"mode":"number","delay":"0","topic":"","x":450,"y":2900,"wires":[["3bb5e03f.e461"]]},{"id":"c5756744.c71bd8","type":"ui_text","z":"d9cbdc2b.e651a","group":"284939c0.aa7686","order":1,"width":0,"height":0,"name":"oder name","label":"INVOICE","format":"{{msg.order_name}}","layout":"col-center","x":970,"y":2480,"wires":[]},{"id":"8f2b40c4.f2c74","type":"function","z":"d9cbdc2b.e651a","name":"test invoice structure","func":"\nglobal.set(\"gross_amount\", 800);\n\nmsg = {\n    payload:\n            [\n            {\n                \"name\":\"dave\",\n                \"unit_price\":\"lol\",\n                \"quantity\":\"red\",\n                \"item_price\": \"3\"\n                \n            },\n            {\n                \"name\":\"Dave\",\n                \"unit_price\":\"35\",\n                \"quantity\":\"red\",\n                \"item_price\": \"3\"\n            },\n            {\n                \"name\":\"Dave\",\n                \"unit_price\":\"35\",\n                \"quantity\":\"red\",\n                \"item_price\": \"3\"\n            }\n            ],\n    \"order_name\":\"<b>oder_1</b>\",\n    \"gross_amount\":\"800\"\n    };\n            \n            \nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1540,"y":2500,"wires":[[]]},{"id":"6a757840.ec8018","type":"ui_text","z":"d9cbdc2b.e651a","group":"284939c0.aa7686","order":3,"width":0,"height":0,"name":"gross amount","label":"GROSS AMOUNT = ","format":"{{msg.gross_amount}}","layout":"row-center","x":980,"y":2540,"wires":[]},{"id":"93aeeaee.4d92c8","type":"ui_text","z":"d9cbdc2b.e651a","group":"284939c0.aa7686","order":5,"width":0,"height":0,"name":"change","label":"CHANGE = ","format":"{{msg.change}}","layout":"row-center","x":960,"y":2900,"wires":[]},{"id":"f838f003.ce03d","type":"ui_button","z":"d9cbdc2b.e651a","name":"paid","group":"284939c0.aa7686","order":6,"width":"0","height":"0","passthru":false,"label":"PAID","tooltip":"","color":"","bgcolor":"red","icon":"done","payload":"{\"tab\":\"CASHIER\"}","payloadType":"json","topic":"","x":450,"y":3100,"wires":[["dc1d096f.3a2fd8","72c8692b.4f1ed8"]]},{"id":"dc1d096f.3a2fd8","type":"ui_ui_control","z":"d9cbdc2b.e651a","name":"go to cahier tab","x":980,"y":3100,"wires":[[]]},{"id":"3bb5e03f.e461","type":"function","z":"d9cbdc2b.e651a","name":"save cash amount","func":"msg={\n    change:(msg.payload-parseInt(global.get(\"grossAmount\")))\n}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":690,"y":2900,"wires":[["93aeeaee.4d92c8"]]},{"id":"72c8692b.4f1ed8","type":"function","z":"d9cbdc2b.e651a","name":"resetting","func":"msg={\n    payload:\"\",\n    change:\"\"\n}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":660,"y":3020,"wires":[["93aeeaee.4d92c8","281ea848.205b08"]]},{"id":"9b9fb5a6.289068","type":"ui_chart","z":"d9cbdc2b.e651a","name":"unit_inventory","group":"a873c402.0897d8","order":0,"width":"5","height":"10","label":"chart [Units]","chartType":"bar","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"not available","dot":false,"ymin":"0","ymax":"100","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"outputs":1,"useDifferentColor":false,"x":980,"y":3660,"wires":[[]]},{"id":"2ddcf589.e8de1a","type":"ui_chart","z":"d9cbdc2b.e651a","name":"kg_inventory","group":"9ee85572.846488","order":0,"width":"20","height":"10","label":"chart [kg]","chartType":"bar","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"not available","dot":false,"ymin":"0","ymax":"10","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"outputs":1,"useDifferentColor":false,"x":970,"y":3600,"wires":[[]]},{"id":"647001a5.01c54","type":"ui_chart","z":"d9cbdc2b.e651a","name":"liters_inventory","group":"19654253.521a0e","order":0,"width":"8","height":"10","label":"chart [Liters]","chartType":"bar","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"not available","dot":false,"ymin":"0","ymax":"10","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"outputs":1,"useDifferentColor":false,"x":980,"y":3720,"wires":[[]]},{"id":"f6c06f7e.e2bec","type":"ui_list","z":"d9cbdc2b.e651a","group":"51513f8.b8de4c","name":"short list","order":2,"width":"6","height":"10","lineType":"two","actionType":"none","allowHTML":true,"outputs":0,"topic":"","x":960,"y":3780,"wires":[]},{"id":"dbf283c0.0c33","type":"ui_list","z":"d9cbdc2b.e651a","group":"a2e84f89.a95de","name":"","order":1,"width":"5","height":"5","lineType":"three","actionType":"none","allowHTML":true,"outputs":0,"topic":"","x":1450,"y":580,"wires":[]},{"id":"540bbe9c.94785","type":"ui_button","z":"d9cbdc2b.e651a","name":"tbl_3 order clear","group":"a2e84f89.a95de","order":4,"width":"2","height":"1","passthru":false,"label":"CLEAR","tooltip":"","color":"","bgcolor":"orange","icon":"clear","payload":"{}","payloadType":"json","topic":"","x":1220,"y":540,"wires":[["dbf283c0.0c33"]]},{"id":"d3566eb9.8ad27","type":"ui_button","z":"d9cbdc2b.e651a","name":"tbl_3 order complete","group":"a2e84f89.a95de","order":3,"width":"3","height":"1","passthru":false,"label":"COMPLETE","tooltip":"","color":"","bgcolor":"red","icon":"done","payload":"1","payloadType":"num","topic":"","x":400,"y":1920,"wires":[["9afdf38e.9cfa2","9d98b5b3.a42b88"]]},{"id":"9bf72639.b973d8","type":"ui_dropdown","z":"d9cbdc2b.e651a","name":"tbl_3 eta","label":"","tooltip":"","place":"Estimated Time","group":"a2e84f89.a95de","order":2,"width":"0","height":"0","passthru":true,"multiple":false,"options":[{"label":"5 minutes","value":5,"type":"num"},{"label":"10 minutes","value":10,"type":"num"},{"label":"15 minutes","value":15,"type":"num"},{"label":"20 minutes","value":20,"type":"num"}],"payload":"","topic":"topic","x":440,"y":1980,"wires":[["9d98b5b3.a42b88","62851454.e66c2c"]]},{"id":"d8f7d243.32414","type":"switch","z":"d9cbdc2b.e651a","name":"","property":"payload.table","propertyType":"msg","rules":[{"t":"eq","v":"01","vt":"str"},{"t":"eq","v":"02","vt":"str"},{"t":"eq","v":"03","vt":"str"}],"checkall":"true","repair":false,"outputs":3,"x":690,"y":440,"wires":[["2e18372.234f4c8"],["b3edc6d4.440808"],["1d13c559.229cdb"]]},{"id":"2e18372.234f4c8","type":"function","z":"d9cbdc2b.e651a","name":"","func":"global.set(\"table_01_paid_flag\", false);\n\nmsg.payload =msg.payload.details;\nreturn [msg,null]\n// return msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":960,"y":300,"wires":[["ae2fd831.4338e8"]]},{"id":"b3edc6d4.440808","type":"function","z":"d9cbdc2b.e651a","name":"","func":"global.set(\"table_02_paid_flag\", false);\n\nmsg.payload =msg.payload.details;\nreturn [msg,null]\n// return msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":960,"y":440,"wires":[["26309fa1.31802"]]},{"id":"1d13c559.229cdb","type":"function","z":"d9cbdc2b.e651a","name":"","func":"global.set(\"table_03_paid_flag\", false);\n\nmsg.payload =msg.payload.details;\nreturn [msg,null]\n// return msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":960,"y":580,"wires":[["dbf283c0.0c33"]]},{"id":"ae2fd831.4338e8","type":"ui_list","z":"d9cbdc2b.e651a","group":"6aea06d1.781518","name":"","order":1,"width":"5","height":"5","lineType":"three","actionType":"none","allowHTML":true,"outputs":0,"topic":"","x":1450,"y":300,"wires":[]},{"id":"2ade6860.3fa388","type":"ui_button","z":"d9cbdc2b.e651a","name":"tbl_1 order clear","group":"6aea06d1.781518","order":4,"width":"2","height":"1","passthru":false,"label":"CLEAR","tooltip":"","color":"","bgcolor":"orange","icon":"clear","payload":"{}","payloadType":"json","topic":"","x":1220,"y":260,"wires":[["ae2fd831.4338e8"]]},{"id":"5beeb511.6c81dc","type":"debug","z":"d9cbdc2b.e651a","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":770,"y":3380,"wires":[]},{"id":"fe8c50b8.6de3e","type":"inject","z":"d9cbdc2b.e651a","name":"test flow inventory","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"Inventory","payloadType":"flow","x":530,"y":3380,"wires":[["5beeb511.6c81dc"]]},{"id":"104f4067.d91bc","type":"function","z":"d9cbdc2b.e651a","name":"","func":"var ingred = flow.get('Inventory')\nvar Det=[]\nvar Kg_keys = Object.keys(ingred.Kg)\nvar Liters_keys =Object.keys(ingred.Liters)\nvar Units_keys =Object.keys(ingred.Units)\n\n\nfor (let i = 0; i < msg.payload.order.length; i++) {\n    ord = msg.payload.order[i].ingredients;\n    quantity = parseFloat(msg.payload.order[i].quantity);\n    ord_values = Object.values(ord);\n    ord_keys=Object.keys(ord);\n    ord_val = ord_values.map(x => x * quantity);\n    \n    \n    for (let j = 0; j < ord_keys.length; j++){\n        if (Kg_keys.includes(ord_keys[j])){\n            ingred.Kg[ord_keys[j]] = parseFloat(ingred.Kg[ord_keys[j]]) - parseFloat(ord_val[j])\n        }\n        else if(Liters_keys.includes(ord_keys[j])){\n            ingred.Liters[ord_keys[j]]=parseFloat(ingred.Liters[ord_keys[j]]) - parseFloat(ord_val[j])\n        }\n        else if(Units_keys.includes(ord_keys[j])){\n            ingred.Units[ord_keys[j]]= parseFloat(ingred.Units[ord_keys[j]]) - parseFloat(ord_val[j])\n        }\n    }\n    \n    var result = {};\n    ord_keys.forEach((key, i) => result[key] = ord_val[i]);\n    Det.push(result)\n}\n// flow.set('Inventory',ingred);\nmsg.payload = ingred\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":480,"y":180,"wires":[["58eef7f5.f67bd8"]]},{"id":"360cd7f8.b27e58","type":"function","z":"d9cbdc2b.e651a","name":"","func":"var Details= msg.payload.Kg;\n\nvar m={\n    \"series\":[\"kg\"],\n    \"data\":[Object.values(Details)],\n    \"labels\":Object.keys(Details)\n};\nreturn {payload:[m]};","outputs":1,"noerr":0,"initialize":"","finalize":"","x":760,"y":3600,"wires":[["2ddcf589.e8de1a"]]},{"id":"a64519ff.76a748","type":"function","z":"d9cbdc2b.e651a","name":"","func":"var Details= msg.payload.Liters;\n\nvar m={\n    \"series\":[\"Liters\"],\n    \"data\":[Object.values(Details)],\n    \"labels\":Object.keys(Details)\n};\nreturn {payload:[m]};","outputs":1,"noerr":0,"initialize":"","finalize":"","x":760,"y":3720,"wires":[["647001a5.01c54"]]},{"id":"cccfe639.bd2958","type":"function","z":"d9cbdc2b.e651a","name":"","func":"var Details= msg.payload.Units;\n\nvar m={\n    \"series\":[\"Units\"],\n    \"data\":[Object.values(Details)],\n    \"labels\":Object.keys(Details)\n};\nreturn {payload:[m]};","outputs":1,"noerr":0,"initialize":"","finalize":"","x":760,"y":3660,"wires":[["9b9fb5a6.289068"]]},{"id":"24090d2.92742f2","type":"function","z":"d9cbdc2b.e651a","name":"","func":"let Det =[];\nlet t;\nfor (let i = 0; i < msg.payload.order.length; i++) {\n    //i = i.toString(),\n    \n    t = {\n        \"name\": msg.payload.order[i].dish,\n        \"unit_price\":msg.payload.order[i].unit_price,\n        \"quantity\":msg.payload.order[i].quantity,\n        \"item_price\":msg.payload.order[i].unit_price * parseFloat(msg.payload.order[i].quantity),\n    }\n    Det.push(t);\n}\n\nglobal.set(\"grossAmount\", msg.payload.total);\n\nmsg ={ \n    payload:Det ,\n    \"order_name\":\"order_1\",\n    \"gross_amount\":msg.payload.total\n    \n}\n\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":660,"y":2540,"wires":[["c5756744.c71bd8","44972564.4fd38c","6a757840.ec8018","848a1b2b.40a008"]]},{"id":"961c8eb1.9121a","type":"function","z":"d9cbdc2b.e651a","name":"","func":"let Det =[];\nlet t;\nKg = msg.payload.Kg;\nLiters = msg.payload.Liters;\nUnits = msg.payload.Units;\n\nfor (let i = 0; i < 11 ; i++) {\n    ord_values = Object.values(Kg);\n    ord_keys=Object.keys(Kg);\n    if(ord_values[i] <1 ){\n        t={\n        \"title\": ord_keys[i],\n        \"description\": \"\",\n        \"icon_name\": \"warning\"\n            \n        }\n         Det.push(t);\n    }\n        \n}\n\n\nfor (let i = 0; i < 4 ; i++) {\n    ord_values = Object.values(Liters);\n    ord_keys=Object.keys(Liters);\n    if(ord_values[i] <1 ){\n        t={\n        \"title\": ord_keys[i],\n        \"description\": \"\",\n        \"icon_name\": \"warning\"\n            \n        }\n         Det.push(t);\n    }\n        \n}\nfor (let i = 0; i < 2 ; i++) {\n    ord_values = Object.values(Units);\n    ord_keys=Object.keys(Units);\n    if(ord_values[i] <1 ){\n        t={\n        \"title\": ord_keys[i],\n        \"description\": \"\",\n        \"icon_name\": \"warning\"\n            \n        }\n         Det.push(t);\n    }\n        \n}\n\nmsg.payload = Det\n\nreturn msg;\n   \n\n","outputs":1,"noerr":0,"initialize":"","finalize":"","x":760,"y":3780,"wires":[["f6c06f7e.e2bec"]]},{"id":"96a81a06.51f4b8","type":"rtdb-on","z":"d9cbdc2b.e651a","name":"table_01","path":"orders/table_01","cred":"de90ee41.78882","x":240,"y":300,"wires":[["104f4067.d91bc","7cd0d1c5.ebdee"]]},{"id":"18efb431.9d523c","type":"rtdb-on","z":"d9cbdc2b.e651a","name":"table_03","path":"orders/table_03","cred":"de90ee41.78882","x":240,"y":580,"wires":[["104f4067.d91bc","7cd0d1c5.ebdee"]]},{"id":"1d84b528.6933ab","type":"rtdb-on","z":"d9cbdc2b.e651a","name":"table_02","path":"orders/table_02","cred":"de90ee41.78882","x":240,"y":440,"wires":[["104f4067.d91bc","7cd0d1c5.ebdee"]]},{"id":"59bcc0ba.55c97","type":"rtdb-set","z":"d9cbdc2b.e651a","name":"notifications/table_03","cred":"de90ee41.78882","x":1320,"y":1920,"wires":[]},{"id":"9d98b5b3.a42b88","type":"function","z":"d9cbdc2b.e651a","name":"","func":"msg = {\"payload\": {\"path\": \"notifications/table_03\", \"obj\": msg.payload}}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":880,"y":1920,"wires":[["59bcc0ba.55c97"]]},{"id":"6d062f52.d76aa","type":"rtdb-set","z":"d9cbdc2b.e651a","name":"notifications/table_02","cred":"de90ee41.78882","x":1320,"y":1760,"wires":[]},{"id":"dcf95058.f26c8","type":"function","z":"d9cbdc2b.e651a","name":"","func":"msg = {\"payload\": {\"path\": \"notifications/table_02\", \"obj\": msg.payload}}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":880,"y":1760,"wires":[["6d062f52.d76aa"]]},{"id":"51aa77c1.58f588","type":"rtdb-set","z":"d9cbdc2b.e651a","name":"notifications/table_01","cred":"de90ee41.78882","x":1320,"y":1600,"wires":[]},{"id":"a3c4445d.8a86a8","type":"function","z":"d9cbdc2b.e651a","name":"","func":"msg = {\"payload\": {\"path\": \"notifications/table_01\", \"obj\": msg.payload}}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":880,"y":1600,"wires":[["51aa77c1.58f588"]]},{"id":"18d57e8.c4ad682","type":"rtdb-set","z":"d9cbdc2b.e651a","name":"inventory_update","cred":"de90ee41.78882","x":1490,"y":180,"wires":[]},{"id":"58eef7f5.f67bd8","type":"function","z":"d9cbdc2b.e651a","name":"","func":"msg = {\"payload\": {\"path\": \"inventory\", \"obj\": msg.payload}}\nreturn msg;\n","outputs":1,"noerr":0,"initialize":"","finalize":"","x":960,"y":180,"wires":[["18d57e8.c4ad682"]]},{"id":"d5621718.2dd538","type":"rtdb-on","z":"d9cbdc2b.e651a","name":"get order","path":"","cred":"de90ee41.78882","x":440,"y":2540,"wires":[["24090d2.92742f2"]]},{"id":"1d6c6b22.888245","type":"rtdb-on","z":"d9cbdc2b.e651a","name":"get Inventory","path":"inventory","cred":"de90ee41.78882","x":470,"y":3680,"wires":[["360cd7f8.b27e58","a64519ff.76a748","cccfe639.bd2958","961c8eb1.9121a"]]},{"id":"2969c0da.891f5","type":"function","z":"d9cbdc2b.e651a","name":"","func":"//global.set(\"paid_table_number\", msg.table);\nif (global.get(\"table_01_paid_flag\")==true && msg.table == \"1\"){\n    msg.payload = \"No oders\";\n    return [msg,null];\n}else if (global.get(\"table_02_paid_flag\")==true && msg.table == \"2\"){\n    msg.payload = \"No oders\";\n    return [msg,null];\n}else if (global.get(\"table_03_paid_flag\")==true && msg.table == \"3\"){\n    msg.payload = \"No oders\";\n    return [msg,null];\n}else{\n    if (msg.table == \"1\"){\n        global.set(\"table_01_paid_flag\", true);\n    }else if (msg.table == \"2\"){\n        global.set(\"table_02_paid_flag\", true);\n    }else if (msg.table == \"3\"){\n        global.set(\"table_03_paid_flag\", true);\n    }\n    msg= {\"payload\": {\"path\": \"orders/table_0\"+msg.table}}\n\n    return [null,msg];\n}","outputs":2,"noerr":0,"initialize":"","finalize":"","x":660,"y":2420,"wires":[["38814619.d16e8a"],["d5621718.2dd538"]]},{"id":"38814619.d16e8a","type":"ui_toast","z":"d9cbdc2b.e651a","position":"dialog","displayTime":"3","highlight":"","sendall":true,"outputs":1,"ok":"OK","cancel":"","raw":false,"topic":"CSHIER","name":"already paid","x":970,"y":2420,"wires":[[]]},{"id":"848a1b2b.40a008","type":"function","z":"d9cbdc2b.e651a","name":"","func":"msg = {\n    payload:{\"tab\" : \"BILL\"}\n}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":660,"y":2660,"wires":[["e5f14804.b0a198"]]},{"id":"142b2751.2c1d59","type":"function","z":"d9cbdc2b.e651a","name":"","func":"msg = {\"payload\": {\"path\": \"sale\", \"obj\": 0}}\nreturn msg;\n","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1140,"y":1220,"wires":[["d3d4e438.a84948"]]},{"id":"bf136a5f.a52978","type":"rtdb-set","z":"d9cbdc2b.e651a","name":"clear sales ","cred":"de90ee41.78882","x":1570,"y":1220,"wires":[]},{"id":"4a020dfb.83ed44","type":"rtdb-push","z":"d9cbdc2b.e651a","name":"","cred":"de90ee41.78882","x":1480,"y":780,"wires":[[]]},{"id":"731ff3c7.9350fc","type":"function","z":"d9cbdc2b.e651a","name":"","func":"msg = {\"payload\": {\"path\": \"daily\", \"obj\": msg.payload}}\nreturn msg;\n","outputs":1,"noerr":0,"initialize":"","finalize":"","x":940,"y":780,"wires":[["4a020dfb.83ed44"]]},{"id":"fc3b5224.5008a","type":"rtdb-get","z":"d9cbdc2b.e651a","name":"","path":"daily","cred":"de90ee41.78882","x":440,"y":1180,"wires":[["c5ce40fb.b5c2f"]]},{"id":"c5ce40fb.b5c2f","type":"function","z":"d9cbdc2b.e651a","name":"","func":"let amount = flow.get(\"sales\");\nlet t= \"order_amount\";\n\nvar daily = Object.values(msg.payload);\nfor (let i = 0; i < daily.length; i++) {\n    //i = i.toString(),\n    \n    t =t + \"\\n\"+ String(daily[i].oder) + \"  \" + String(daily[i].amount)\n}\nmsg.payload =  t+ \"\\n\" + \"\\n\"+ \"total_amount\" + \"\\n\"  +  String(amount)\n\nglobal.set(\"order_count\",0);\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":680,"y":1180,"wires":[["ab925d03.d1249","b3d97f69.41ead"]]},{"id":"512a242f.6b050c","type":"change","z":"d9cbdc2b.e651a","name":"save inventory as a flow","rules":[{"t":"set","p":"Inventory","pt":"flow","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":770,"y":3460,"wires":[[]]},{"id":"b6b43b3f.3a1508","type":"rtdb-on","z":"d9cbdc2b.e651a","name":"get Inventory","path":"inventory","cred":"de90ee41.78882","x":490,"y":3460,"wires":[["512a242f.6b050c"]]},{"id":"5e3dd806.4014e8","type":"change","z":"d9cbdc2b.e651a","name":"save inventory as a flow","rules":[{"t":"set","p":"sales","pt":"flow","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":510,"y":1040,"wires":[[]]},{"id":"6966f1ba.d1c82","type":"rtdb-on","z":"d9cbdc2b.e651a","name":"get sales","path":"sale","cred":"de90ee41.78882","x":240,"y":1040,"wires":[["5e3dd806.4014e8"]]},{"id":"6bef8c52.e00c14","type":"function","z":"d9cbdc2b.e651a","name":"","func":"msg = {\"payload\": {\"path\": \"daily\", \"obj\": 0}}\nreturn msg;\n","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1140,"y":1120,"wires":[["eebb9575.d83bc8"]]},{"id":"50a757e.523a2a8","type":"rtdb-set","z":"d9cbdc2b.e651a","name":"clear daily","cred":"de90ee41.78882","x":1560,"y":1120,"wires":[]},{"id":"d3d4e438.a84948","type":"delay","z":"d9cbdc2b.e651a","name":"","pauseType":"delay","timeout":"10","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":1340,"y":1220,"wires":[["bf136a5f.a52978"]]},{"id":"eebb9575.d83bc8","type":"delay","z":"d9cbdc2b.e651a","name":"","pauseType":"delay","timeout":"10","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":1340,"y":1120,"wires":[["50a757e.523a2a8"]]},{"id":"7cd0d1c5.ebdee","type":"function","z":"d9cbdc2b.e651a","name":"","func":"let Det =[];\nlet t;\nfor (let i = 0; i < msg.payload.order.length; i++) {\n    //i = i.toString(),\n    \n    t = {\n        \"title\": \"<b>\"+ msg.payload.order[i].dish + \"</b>\",\n        \"description\": \"x\" + msg.payload.order[i].quantity ,\n        \"icon\": msg.payload.order[i].icon\n    }\n    Det.push(t);\n}\n\n\nmsg.payload = {\n    \"order\": \"2\",\n    \"table\": msg.payload.table,\n    \"amount\": msg.payload.total,\n    \"no_items\": msg.payload.order.length,\n    \"details\": Det\n}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":460,"y":440,"wires":[["d8f7d243.32414","eb9a5101.9f661","ae823e95.b6a87"]]},{"id":"b3d97f69.41ead","type":"twilio out","z":"d9cbdc2b.e651a","twilio":"f7facdb3.8e466","twilioType":"sms","url":"","number":"+94771127193","name":"","x":830,"y":1320,"wires":[]},{"id":"62851454.e66c2c","type":"debug","z":"d9cbdc2b.e651a","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":890,"y":1980,"wires":[]},{"id":"f32960b.e90e5a","type":"debug","z":"d9cbdc2b.e651a","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":890,"y":1820,"wires":[]},{"id":"a8548354.569e","type":"debug","z":"d9cbdc2b.e651a","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":890,"y":1660,"wires":[]},{"id":"6aea06d1.781518","type":"ui_group","name":"Table_1","tab":"13ec5d5e.8fa1e3","order":1,"disp":true,"width":"5","collapse":false},{"id":"2f86e9fb.b48a36","type":"ui_group","name":"Table_2","tab":"13ec5d5e.8fa1e3","order":2,"disp":true,"width":"5","collapse":false},{"id":"8bb058be.bd2238","type":"ui_group","name":"Daily Sale","tab":"8db9a588.bdb778","order":3,"disp":true,"width":"6","collapse":false},{"id":"f7447d9d.e57e","type":"mqtt-broker","name":"","broker":"test.mosquitto.org","port":"1883","clientid":"","usetls":false,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"1854319a.c798ee","type":"ui_group","name":"Cashier","tab":"8db9a588.bdb778","order":1,"disp":true,"width":"10","collapse":false},{"id":"284939c0.aa7686","type":"ui_group","name":"Bill","tab":"3b33037e.8cb61c","order":1,"disp":false,"width":"15","collapse":false},{"id":"a873c402.0897d8","type":"ui_group","name":"Unit_Chart","tab":"54570a12.961c64","order":3,"disp":true,"width":"5","collapse":false},{"id":"9ee85572.846488","type":"ui_group","name":"KG_Chart","tab":"54570a12.961c64","order":1,"disp":true,"width":"20","collapse":false},{"id":"19654253.521a0e","type":"ui_group","name":"Liters_Chart","tab":"54570a12.961c64","order":2,"disp":true,"width":"8","collapse":false},{"id":"51513f8.b8de4c","type":"ui_group","name":"Short List","tab":"54570a12.961c64","order":4,"disp":true,"width":"6","collapse":false},{"id":"a2e84f89.a95de","type":"ui_group","name":"Table_3","tab":"13ec5d5e.8fa1e3","order":3,"disp":true,"width":"5","collapse":false},{"id":"de90ee41.78882","type":"firebase-config","name":"access","cred":"{   \"type\": \"service_account\",   \"project_id\": \"fir-demo-258cc\",   \"private_key_id\": \"e4f579c1231da621685778cf4c3c486a058beea7\",   \"private_key\": \"-----BEGIN PRIVATE KEY-----\\nMIIEvQIBADANBgkqhkiG9w0BAQEFAASCBKcwggSjAgEAAoIBAQCfke5OBUSGhP6G\\nQMPoB7ydOI3L5cqyQsmiK5XBJiPEyrIc+DUVyKYN2GAY18mxTfluHLFCcIGFjqVM\\n9pPWMaOgf+XoEbpOZOVdL9CwOUNq0ZkdL7JhUbubnZKsHL58MuFGhWxflDvZFUOj\\naqYhQtr5sC/533ybmwWMbtcvmCxQWCO8ZgHVSRTVo8i2WETvDr/8LHcbCxoBaT/M\\ns3dtumrBF0wZZC7n+CRaBJMVHQ58SS4JqNas10JK+jByPjoQ+B6Xk3VV5SmkMhP6\\nPX8a7NjsdcLRhNrNr5e7NRsDTTaL5OqHoR95ViLv3FFBQZ+YHcosvH1B45MYbN6D\\nMhmKdv2PAgMBAAECggEAEe80Z1Ih6V6W6XRBBdn3bHztOZ6k9qkZVsqVmm+qHdWh\\nntjqGn3X5VQi5Nfn+YS9L+TgqrTQvI0+Q0AEI1L77tpBIaFQcmbWUprBAUrGVYH4\\n4WC5fe+nlC4Ud0IEdMVr2rcR6aIpodSegAZIuryetj6DqI63nMOXzuNW+H30Hmlu\\n1JobXfW93BeCsDwTvvj1H0d6bPaapi0dDG7me6E8JNor2IDCSzB4QT5o/X2Llgdo\\nrq5CCWOCdfAm+BwOEW52eDcaRvC3hKhvJWy8oN4P/VlSn8cdZpTw4+aaC9Pyrpyz\\nhnUNHm2TJljc/t73o6SDspno5JI+EulgaQ3cvlJ2ZQKBgQDPFyFRiR2GyJ7BFBrI\\n13wXn2a4vlhi5JJsumEn8pGw10psCACV4CF3jkBxm7951blixcxDru421teV5sxY\\nogISAIa5jWSKh743EGv5+dQlxfv5Ag2dtnAnqGjNKEne+fpE3dmv1VX++2JTJu/8\\nH5pRtcC1jXtYmsl7nzFrFxqtIwKBgQDFQa4LPlED+Ys/+wY7C9d+GQmAyLFQvNej\\npBAX6ZjpbpgfLVQXrgumQSyx34zMbg/NF6e+ppM19IK6UyzxjHYYl3tOmUPEUKOT\\nrYFNsnboiv5wEEUWL/Dkbt7LsEyd8mgP0SjgBBvjwOZJ/nJWQLV+k+DtHQhVj0LB\\niuv3+upipQKBgQDLdaoidVgxCAIRKDN4h10/yDgf4cLsxiyl7iduG//PgnV31hTd\\nKys2Tug5tg9VIAnXZQXeqYsZDdMZT3wMyH7IOQQkYSoagGr9poCvRCiORAnfB4lh\\nHdDq5aaxiZeqHmcoKd6pxiuLLGfZ0jONvW7cQHlo5ev9jXXOowTmdfibiQKBgGMM\\nU+R5ahzg1TdPSRWlIJPE5qywGbk82drlqt8XAR1V1zTwgeVSE69r0pGOexi7u1t0\\noVpuMkVJfcspsMupiDNY/SW+d/S/uSOSX/cvwd2KzbBfuxElCYTq1xzYbeBxtCcd\\nE7VI2uhGGFzXU3pUC85/WtY1WdX8lbyxkUN3zvGxAoGAdX+dkRgZJZ/UW23iibMb\\noG9yvptCOisK1XV+LN9i9FxRzr0bQzYjm2LcQRCUGasPtNZDsiaJTaIJue+qyp/H\\n1tKvFZQOqzhjANromGXE9dAzffGYk2ncG3rG5D2UcjXSelZF+XBPkUVmjD6pl0qW\\nCqMxHATZsyRzt2n3AW28kik=\\n-----END PRIVATE KEY-----\\n\",   \"client_email\": \"firebase-adminsdk-5qqx4@fir-demo-258cc.iam.gserviceaccount.com\",   \"client_id\": \"106818934445835176187\",   \"auth_uri\": \"https://accounts.google.com/o/oauth2/auth\",   \"token_uri\": \"https://oauth2.googleapis.com/token\",   \"auth_provider_x509_cert_url\": \"https://www.googleapis.com/oauth2/v1/certs\",   \"client_x509_cert_url\": \"https://www.googleapis.com/robot/v1/metadata/x509/firebase-adminsdk-5qqx4%40fir-demo-258cc.iam.gserviceaccount.com\" }","dburl":"https://fir-demo-258cc-default-rtdb.firebaseio.com/","bucket":""},{"id":"f7facdb3.8e466","type":"twilio-api","name":"twillio access","sid":"AC1cca7671bb814c81976fcd2236736b80","from":"+13419995942"},{"id":"13ec5d5e.8fa1e3","type":"ui_tab","name":"KITCHEN","icon":"restaurant_menu","order":6,"disabled":false,"hidden":false},{"id":"8db9a588.bdb778","type":"ui_tab","name":"CASHIER","icon":"attach_money","order":7,"disabled":false,"hidden":false},{"id":"3b33037e.8cb61c","type":"ui_tab","name":"BILL","icon":"dashboard","order":8,"disabled":false,"hidden":false},{"id":"54570a12.961c64","type":"ui_tab","name":"INVENTORY","icon":"local_grocery_store","order":9,"disabled":false,"hidden":false}]